/*Small screen*/

/* 
.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.judul{
  text-align: center;
}

.judul__description{
  text-align: center;
}

.tabel__container{
  display: flex;
  flex-direction: column;
  border: 1px solid ;
}

table, th, td{
  border-collapse: collapse;
  text-align: center;
  align-items: center;
  justify-content: center;
} */

/* styles.module.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .judul {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #06D6A0;
  }
  
  .judul__description {
    font-size: 1.2rem;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .tabel__container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  @media only screen and (max-width: 768px) {
    .judul {
      font-size: 2rem;
    }
  
    .judul__description {
      font-size: 1rem;
    }
  
    th,
    td {
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }